.a-products{
    display: grid;
    grid-template-columns: 22% 75%;
    gap: 3%;
    padding:20vh 10px 0px 10px;
    height: 100vh;
    width: 100%;
    border: 1px solid red;
}
.a-products>div{
    height: 80vh;
    width: 100%;
}

