.footer1
{
    margin-top: 10px;
    width: 100%;
    height: 330px;
    border: 1px solid none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    background-color: #c9048f;
    color: white;
}
.footer-a
{
    border: 1px solid none;
}
.footer-a h1
{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}
.footer-a li
{
    margin-top: 10px;
   list-style-type: none;
    margin-left: 120px;
}
.footer-b
{
    border: 1px solid none;
}
.footer-b h1
{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}
.footer-b li
{
    margin-top: 10px;
   list-style-type: none;
    margin-left: 150px;
}
.footer-c
{
    border: 1px solid none;
}
.footer-c h1
{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}
.footer-c li
{
    margin-top: 10px;
   list-style-type: none;
    margin-left: 130px;
}
.footer-d
{
    border: 1px solid none;
   gap:10px;
    display: flex;
    
}
.footer-d h1{
    margin-top: 30px;
    text-align:center;
    font-size: 20px;
    
}
.footer-d div{
    margin-top: 90px;
 width: 30px;
 height: 30px;
 border: 1px solid none;
 border-radius: 100%;
background-color: white;
}
.footer2
{
    
    width: 100%;
    height: 40px;
    border: 5px solid none;
    text-align: center;
}
.footer2 h1{
    margin-top: 20px;
    margin-left: 100px;
    text-align: center;
}