.div1photoofnavbar
{
    width: 100%;
    height: 508px;
    border: 3px solid none;
}
.div1photoofnavbar img
{
    width: 100%;
    height: 500px;

}
.Topcategories
{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    border: 3px solid none;
}
.Topcategories h1
{
    text-align: center;
    margin-top: 20px;
}
.Topcategories-grid
{
    margin-left: 100px;
    width: 90%;
    height: 659px;
    border: 3px solid none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin-top: 20px;
    
}
.Topcategories-grid div
{
    
    width: 256px;
    height: 320px;
    border: 1px solid none;
}
.Topcategories-grid img{
    width: 254px;
    height: 319px;
}
.photo
{
    width: 98%;
    height: 665px;
    border: 5px solid none;
}
.photo3
{
    width: 98%;
    height: 400px;
    border: 1px solid none;
    margin-top: 30px;
    display: flex;
    margin-left: 15px;
    background-color: #ebf9ff;
}
.ph1
{
    margin-left: 85px;
    margin-top: 60px;
    width: 400px;
    height: 560px;
    border: 1px solid none;
}
.ph1 img
{
    width: 400px;
    height: 560px;
}
.ph2
{
    margin-left: 40px;
    margin-top: 60px;
    width: 830px;
    height: 560px;
    border: 1px solid none;
}
.ph2 img
{
    width: 840px;
    height: 560px;
}
.photo4
{
    width: 98%;
    height: 420px;
    border: 1px solid none;
    margin-top: 30px;
    display: flex;
    margin-left: 15px;
background:url("https://imagescdn.abof.com/img/app/brands/Allensolly/home/BestBuy/AS_D_BestBuyBg.png") ;
background-size: cover;
}
.ph11
{
   
    
    width: 450px;
    height: 450px;
    border: 1px solid none;
}
.viewall
{
    margin-top: 60px;
    margin-left: 50px;
    width: 300px;
    height: 300px;
   
    border: 1px solid none;
}

.viewall button
{
    margin-top: 30px;
    padding: 8px 20px 8px 20px;
    border: 1px solid black;
    border-radius: 7px;
    color:white;
    background-color: black;
    font-size: 20px;
}

.ph12
{
    margin-left: 30px;
    width: 1000px;
    height: 450px;
    border: 1px solid none;
    
}
.ph12-grid
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.ph12-grid div{
    margin-top: 60px;
    width: 220px;
    height: 300px;
    border: 1px solid none;
}
.ph12-grid img{
    width: 220px;
    height: 300px;
}
.topseller 
{
    width: 80%;
    height: 390px;
    border: 1px solid none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-left: 110px;
    margin-top: 10px;
}
.topseller  div{
    margin-top: 10px;
    width: 270px;
    height: 350px;
    border: 1px solid none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: 7px;
}
.topseller img{
    width: 270px;
    height: 300px;
}
.topseller p
{
    text-align: center;
}
.top  h1{
    margin-left: 100px;
    margin-top: 60px;
    font-size: 21px;
}